{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h3>Listado de libros</h3>
    <hr>
    <div class="row">
        {% for libro in libros %}
        <div class="col-md-4 d-flex">
            <div class="card d-flex flex-column h-100" style="width: 100%; margin-bottom: 20px;">

                    <img src="{{ libro.imagen.url }}" alt="Imagen de {{ libro.titulo }}" class="card-img-top" style="height: 250px; object-fit: cover;">
                    <div class="card-body d-flex flex-column justify-content-between flex-grow-1">

                        <h5 class="card-title">{{ libro.titulo }}</h5>
                        <p class="card-text descripcion">{{ libro.descripcion }}</p>
                        <div class="d-flex justify-content-between mt-auto">

                            <div>
                                {% if libro.prestamos.count == 0 %}
                                    <a href="{% url 'libros:borrar' libro.libro_id %}" class="btn btn-danger btn-lg custom-btn">
                                        <i class="fa-solid fa-trash"></i> Borrar
                                    </a>
                                {% endif %}
                            </div>
                            <div class="d-flex gap-2">
                                <a href="{% url 'libros:ver' libro.libro_id %}" class="btn btn-info btn-lg custom-btn">
                                    <i class="fa-solid fa-eye"></i> Ver
                                </a>
                                <a href="{% url 'libros:editar' libro.libro_id %}" class="btn btn-warning btn-lg custom-btn">
                                    <i class="fa-solid fa-pen-to-square"></i> Editar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

