{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-90">
    <div class="card p-6 shadow-lg mt-4" style="width: 350px;">
        <h1 class="text-center">Iniciar Sesión</h1>

        {% if error %}
            <p class="text-danger text-center">{{ error }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            
            <button type="submit" class="btn btn-primary w-100">Ingresar</button>
        </form>
    </div>
</div>
{% endblock %}
